.categories-container {
  box-sizing: border-box;
  min-height: 100%;
  padding: 25rem 60rem 35rem;
}

.categories-cards {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  min-height: 900rem;
  margin: 25rem 0;
}

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 15rem;
}

.card-title {
  color: var(--font-white);
  font-size: 40rem;
}

.card-span {
  color: var(--font-white);
  font-size: 16rem;
  padding-top: 10rem;
}

.right-align {
  align-items: flex-end;
}

.center-align {
  justify-content: center;
}

#card-1 {
  background-image: url(../assets/images/card-main1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-basis: calc(10rem - 80%);
  flex-grow: 1;
  height: 300rem;
  margin: 10rem;
}

#card-2 {
  background-image: url(../assets/images/card-main2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-basis: calc(10rem - 20%);
  flex-grow: 2;
  height: 300rem;
  margin: 10rem;
}

#card-3 {
  background-image: url(../assets/images/card-main3.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-basis: 100%;
  flex-grow: 1;
  height: 300rem;
  margin: 10rem;
}

#card-4 {
  background-image: url(../assets/images/card-main4.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-basis: calc(10rem - 20%);
  flex-grow: 2;
  height: 300rem;
  margin: 10rem;
}

#card-5 {
  background-image: url(../assets/images/card-main5.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-basis: calc(10rem - 80%);
  flex-grow: 1;
  height: 300rem;
  margin: 10rem;
}
