#header {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  background-size: 100;
  background-repeat: no-repeat;
  background-image: url(../assets/images/background-header.jpg);
}

.header-logo {
  margin: 70rem 0;
  width: 200rem;
  height: 120rem;
}

.header-title {
  max-width: 700rem;
  font-size: 60rem;
  text-align: center;
  color: var(--font-white);
}

.header-button {
  margin: 70rem 0;
  border: none;
  padding: 10rem 60rem;
  color: var(--font-black);
}
