#header {
  align-items: center;
  background-image: url(../assets/images/background-header.jpg);
  background-repeat: no-repeat;
  background-size: 100;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header-logo {
  height: 120rem;
  margin: 70rem 0;
  width: 200rem;
}

.header-title {
  color: var(--font-white);
  font-size: 60rem;
  max-width: 700rem;
  text-align: center;
}

.header-button {
  border: none;
  color: var(--font-black);
  margin: 70rem 0;
  padding: 10rem 60rem;
}
